@use "styles/abstracts" as a;

.footer {
  @apply flex-col w-full gap-8 bg-light-white pt-4;
  padding-inline: 5rem;
  background: #aca19d;
}

.footerCopyright {
  @apply max-sm:flex-col w-full text-sm font-normal pt-2 mb-4;
  border-top: 1px solid a.$primary-dark;
}

.footerColumn {
  @apply flex-1 flex flex-col gap-3 text-sm min-w-max;
}