@use "styles/abstracts" as a;

.footer {
  @apply flex-col w-full gap-8 pt-4;
  padding-inline: 5rem;
  background: a.$primary-light-250;
  box-shadow: 0px -1px 1px 0px a.$primary-light;
  z-index: 100;
  position: relative;

  a {
    &:hover {
      color: a.$primary-light;
    }
  }

  &__links {
    &__final {
      text-align: left;
      height: 100%;
      padding-top: 1rem;
      font-style: italic;

      @media screen and (min-width: a.$mediumSize)  {
        border-left: 1px solid a.$primary-light;
        padding-left: 2rem;
        max-width: 10rem;
        padding-top: 0;
      }
    }
  }

}

.footerCopyright {
  @apply max-sm:flex-col w-full text-sm font-normal items-center py-5 text-center md:py-2 md:text-left;
  padding-inline: 3rem;
  background: a.$primary-dark;
  color: a.$primary-light-100;
  width: 100vw;
  height: 100%;

  p {
    @apply text-center md:text-left
  }

  &__right {
    @media screen and (max-width:a.$mediumSize) {
      display: none;
    }
  }
}

.footerColumn {
  @apply flex-1 flex flex-col gap-3 text-sm min-w-max min-h-full;

  .footerNav {
    @media screen and (max-width:a.$mediumSize) {
      display: none;
    }
  }
}
