$primary-dark: #542e23;
$primary-dark-750: #864a38;
$primary-dark-500: #bf7a66;
$primary-dark-100: #e8d0c9;
$primary-dark-75: #ead4cd;
$primary-dark-50: #f2e5e1;

$primary-light: #aa7e65;
$primary-light-500: #d0b7aa;
$primary-light-250: #ebe1db;
$primary-light-100: #f6f1ee;
$primary-light-50: #fbf9f8;

$gray-50: #D9D9D9;