@use "/styles/components" as c;
@use "/styles/abstracts" as a;


.heroTitle {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.heroSubtitle {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heroButton {
  @include c.hover-fill-button(a.$primary-light, #fff);
  width: 100%;
  text-align: center;

  &__text {
    font-size: 1rem;
    text-align: center;
  }
}

.homePage {
  overflow-x: hidden;
}

.aboutUs {
  padding-block: 3rem;

  &__description {
    &__short {
      padding-inline: 8rem;
    }

    &__verbose {
      padding-inline: 8rem;
    }
  }

}

.meetOurTeam {
  @include c.card(#fff);
  //margin-inline: 7rem;
  padding-inline: 3rem;
  padding-block: 3rem;
  min-width: 100%;

  @media screen and (max-width: a.$mediumSize) {
    padding-inline: 2.2rem;
  }

  &__cards {

  }
}

.learnMore {
  padding-block: 3rem;

  @media screen and (max-width: a.$mediumSize) {
    &::before, &::after {
      display: none;
    }

  }
}
