@use "/styles/components" as c;
@use "/styles/abstracts" as a;

.heroTitle {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.heroSubtitle {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heroButton {
  @include c.hover-fill-button(a.$primary-light, #fff);
  width: 50%;
  text-align: center;
  &__text {
    font-size: 1rem;
  }
}

.aboutUs {
  padding-block: 3rem;
  &__description {
    @apply flex items-center justify-start flex-col;

    &__short {
      padding-inline: 10rem;
    }

    &__verbose {
      padding-inline: 8rem;
    }
  }

}

.meetOurTeam {
  background: a.$primary-light-100;
  margin-inline: 7rem;
  padding-inline: 3rem;
  padding-block: 3rem;

  &__cards {

  }
}

.learnMore {
  padding-block: 3rem;
}