/// Custom button with a hover effect
/// border-colour is the colour is the colour of the border and text before hover
/// text-colour is the colour of the text after hover

@mixin hover-fill-button($border-colour, $text-colour) {
  border: 1px solid $border-colour !important;
  background: none;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  color: $border-colour !important;
  border-radius: 3rem;
  transition: 0.5s ease-in-out;
  position: relative;
  overflow: hidden;

  &:hover {
    color: $text-colour !important;
    background: $border-colour;
  }
}
