@use "styles/abstracts" as a;
@use "styles/components" as c;


.instagramNew {
  background:linear-gradient(to bottom right, a.$primary-light, a.$secondary-dark-500) border-box;
  color: #313149;
  border: 3px solid transparent;
  border-radius: 35px;

  &__link {
    border-radius: 35px;
  }
  &__image {
    border-radius: 35px;
  }
}
