@use "styles/abstracts" as a;

.navbar {
  @apply py-4 border-b border-nav-border flex items-center w-full px-8 md:px-20 md:py-5;
  box-shadow: 0 1px 10px 0 a.$primary-light;
  position: relative;
  z-index: 100;
  background: white;

  a {
    &:hover {
      color: a.$primary-light;
    }
  }

  .right {
    &__links {
    }
  }

}
