@use "/styles/abstracts" as a;

.content {
  padding-block: 4rem;
  padding-inline: 3rem;

  @media screen and (min-width: a.$mediumSize) {
    padding-inline: 10rem;
  }

  .pressMentions {
    .pressMentionCard {
      @media screen and (min-width: a.$mediumSize) {
        max-width: 48%;
      }
    }
  }
}
