@use "styles/abstracts" as a;
@use "styles/components" as c;

.page {
  height: 100%;

  @media screen and (max-width: a.$mediumSize) {
    overflow-x: hidden;
  }

  &__left,
  &__right {
    display: flex;
    min-width: 20%;
    justify-content: center;
    align-items: center;
  }

  &__left {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: a.$primary-dark;

    @media screen and (max-width: a.$mediumSize) {
      padding-top: 2rem;
    }

    &__text {
      position: sticky;
      top: 10%;
    }
  }

  &__center {
    overflow: auto;
    max-width: 100vw;

    @media screen and (max-width: a.$mediumSize) {
      overflow-x: hidden;
    }
  }

  &__right {
    display: none;
  }
}

@media screen and (min-width: a.$mediumSize) {
  .page {
    &__left,
    &__right {
      align-items: flex-start;
    }

    &__left {
      writing-mode: vertical-lr;
      text-orientation: upright;
      justify-content: center;
      padding-top: 5rem;
      padding-bottom: 10%;
    }

    &__right {
      display: flex;
      padding-bottom: 15%;
      padding-top: 5rem;

      &__nav {
        position: sticky;
        top: 10%;
        @include c.card(#fff);

        &__link {
          padding-block: 1rem;
          padding-inline: 2rem;
          border-top: 1px solid a.$primary-dark-500;
          width: 100%;
          cursor: pointer;
          letter-spacing: 1px;
          text-transform: uppercase;

          &__noBorder {
            border: none;
          }

          &:hover {
            transition: 0.2s ease-in-out;
            background: a.$primary-dark-750;
            color: a.$primary-dark-50;
          }

          p {
            text-align: center;
          }
        }
      }
    }
  }
}
