@use "styles/abstracts" as a;
@use "styles/components" as c;

.page {
  height: 100%;

  &__left, &__right {
    display: flex;
    min-width: 20%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5%;
  }

  &__left {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: a.$primary-dark;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-bottom: 10%;

    &__text {
      position: sticky;
      top: 10%;
    }
  }

  &__center {
    overflow: auto;

    .section {
      @apply flex flex-col gap-6 items-center justify-start
    }

    .gallery {
      padding-block: 3rem;
    }

    .classes {
      background: a.$primary-light-100;
      padding-block: 3rem;

      .times {
        .table {
          max-width: 40rem;

          th, td {
            @apply font-libreBaskerville;
          }

          th {
            font-size: 0.8rem;
            letter-spacing: 2px;
          }

          td {
            font-size: 0.65rem;
          }

          &__header {
            text-transform: uppercase;
          }
        }
      }

      .events {
        .button {
          @include c.hover-fill-button(a.$primary-light, #fff)

        }
      }
    }


    .media {
      @include c.card(a.$primary-dark-75);
      padding-block: 3rem;

      .videos {
        &__video {
          border: 1px solid a.$primary-dark;
        }
      }

      .playlist {
        &__image {
          height: 10rem;
          width: 100%;

          &__photo {
            border: 1px solid a.$primary-dark;
          }
        }
      }
    }

    .contactUs {
      @include c.card(#fff);
      padding-block: 3rem;
      @apply gap-6
    }

  }

  &__right {
    padding-bottom: 15%;

    &__nav {
      position: sticky;
      top: 10%;
      @include c.card(#fff);

      &__link {
        padding-block: 1rem;
        padding-inline: 2rem;
        border-top: 1px solid a.$primary-dark-100;
        width: 100%;
        text-align: center;

        &__noBorder {
          border: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

