@use "./components" as c;
@use "./abstracts" as a;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

// Root styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-libreBaskerville;
  overscroll-behavior: none;
  scrollbar-gutter: auto;
  max-width: 100vw;
  overflow-x: hidden;
  background: a.$primary-light-100;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 85vh;
  min-height: 85svh;
}

h1, h2, h3, h4, h5, h6 {
  @apply break-normal;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  color: a.$primary-dark;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 5px;
}

p {
  font-size: 0.9rem;
  max-width: 25ch;
  text-align: left;
  line-height: 1.6
}

::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

@media screen and (min-width: a.$mediumSize) {
  .logo {
    font-size: 1rem;
  }

  p {
    font-size: 0.75rem;
    max-width: 75ch;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: left;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    letter-spacing: 3px;
  }

}

// Utilities

// Flex
.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.flexStart {
  @apply flex items-center justify-start;
}

.flexEnd {
  @apply flex items-center justify-end;
}

// Grid
.gridTwoCol {
  @apply grid lg:grid-cols-2 sm:grid-cols-1 auto-rows-auto gap-x-12 gap-y-16 md:gap-y-12
}

// Paddings
.paddings {
  @apply lg:px-20 py-6 px-5;
}

// Screen Reader
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


// Components

// Modal
.modal-head-text {
  @apply md:text-5xl text-3xl font-extrabold text-left max-w-5xl w-full;
}

.hidden {
  display: none;
}

.page {
  padding-inline: 5rem;
}

.title {
  @apply break-normal;
  width: 100%;
  margin-bottom: 1rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  letter-spacing: 10px !important;
  text-transform: uppercase;
  text-align: center;

  &::before, &::after {
    content: "";
    flex-direction: row;
    border-bottom: 3px solid a.$secondary-dark;
    width: 4rem;
  }

  &::before {
    margin-right: 0.7rem
  }

  &::after {
    margin-left: 0.7rem;
  }

  @media screen and (max-width: a.$mediumSize) {
    &::before, &::after {
      width: 2rem;
    }
  }

}


.icon {
  font-size: 2rem;
  color: a.$primary-dark;

  &:hover {
    color: a.$primary-light;
  }
}

.link {
  color: a.$primary-dark;
  font-weight: bold;

  &:hover {
    color: a.$primary-light;
    text-decoration: underline;
  }
}

a {
  cursor: pointer;
}

.activeLink {
  color: a.$primary-light;
}

// General style to apply for hover cards
@include c.imageWithTextOverlay(".hoverImage", #FFFFFF, a.$primary-dark, 0.5rem);


// Scrollspy
.active-scroll-spy {
  transition: 0.1s ease-in-out;
  background: a.$primary-dark-750;
  color: a.$primary-dark-50;
}
